.back-color-green{
    background: rgba(0,166,156,1);
    background: -moz-linear-gradient(top, rgba(0,166,156,1) 0%, rgba(0,146,156,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,166,156,1)), color-stop(100%, rgba(0,146,156,1)));
    background: -webkit-linear-gradient(top, rgba(0,166,156,1) 0%, rgba(0,146,156,1) 100%);
    background: -o-linear-gradient(top, rgba(0,166,156,1) 0%, rgba(0,146,156,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,166,156,1) 0%, rgba(0,146,156,1) 100%);
    background: linear-gradient(to bottom, rgba(0,166,156,1) 0%, rgba(0,146,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a69c', endColorstr='#00929c', GradientType=0 );
}
.back-color-blue{
    background: rgba(65,104,177,1);
    background: -moz-linear-gradient(top, rgba(65,104,177,1) 0%, rgba(77,120,199,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,104,177,1)), color-stop(100%, rgba(77,120,199,1)));
    background: -webkit-linear-gradient(top, rgba(65,104,177,1) 0%, rgba(77,120,199,1) 100%);
    background: -o-linear-gradient(top, rgba(65,104,177,1) 0%, rgba(77,120,199,1) 100%);
    background: -ms-linear-gradient(top, rgba(65,104,177,1) 0%, rgba(77,120,199,1) 100%);
    background: linear-gradient(to bottom, rgba(65,104,177,1) 0%, rgba(77,120,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4168b1', endColorstr='#4d78c7', GradientType=0 );
}
.back-color-board{
    background-color: rgba(0,24,25,1);
    background-image: linear-gradient(top, rgba(65,104,177,0) 0%, rgba(0,0,0,1) 100%);
}
.back-color-grey{
    background-color: #f9f9f9;
}
.back-color-grey-2{
    background-color: #efefef;
}
.back-color-home{
    background: rgba(40,57,66,1);
    background: -moz-linear-gradient(top, rgba(40,57,66,1) 0%, rgba(38,50,56,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,57,66,1)), color-stop(100%, rgba(38,50,56,1)));
    background: -webkit-linear-gradient(top, rgba(40,57,66,1) 0%, rgba(38,50,56,1) 100%);
    background: -o-linear-gradient(top, rgba(40,57,66,1) 0%, rgba(38,50,56,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,57,66,1) 0%, rgba(38,50,56,1) 100%);
    background: linear-gradient(to bottom, rgba(40,57,66,1) 0%, rgba(38,50,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283942', endColorstr='#263238', GradientType=0 );
}
//Background images
.back-index-photo{
    background-image: url("../images/index_photo.jpg");
}
//Background titles
.back-title{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.back-title-about{
    background-image: url("/images/svg/abut-us.svg");
}
.back-title-members{
    background-image: url("/images/svg/our-members.svg");
}
.back-title-products{
    background-image: url("/images/svg/our-products.svg");
}
//layers
.layer-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.layer-container img{
    max-width: 90%;
}

.layer-container .layer:before{
    content: '';
    width: 20px;
    height: 100px;
    background: transparent;
    position: absolute;
    left: 50%;
    bottom: 25%;
    border-radius: 100%;
    box-shadow: 0 10px 200px 0px rgba(0,0,0,.2);
    z-index: -1;
}
.layer-container .layer_1{
    position: absolute;
    left: 100px;
    top: -20px;
    width: 40%;
}
.layer-container .layer_2{
    position: absolute;
    width: 22%;
    right: 400px;
    bottom: -100px;
}
.layer-container .layer_3{
    position: absolute;
    width: 25%;
    right: 0px;
    top: -50px;  
}
.layer-container .layer_4{
    position: absolute;
    left: 220px;
    bottom: -50px;
    width: 12%;
}