.btn{
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
}
.btn-primary{
    background: rgba(25,110,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(25,110,255,1)), color-stop(100%, rgba(0,92,249,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: radial-gradient(ellipse at center, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196eff', endColorstr='#005cf9', GradientType=1 );
    color: white;
}
.btn-xs{
    font-size: 8pt;
    padding: 6pt 12pt 7pt 12pt;
}
.btn-sm{
    font-size: 10pt;
    padding: 8pt 18pt 10pt 18pt;
}
.btn-lg{
    font-size: 12pt;
    padding: 10pt 24pt 12pt 24pt;
}
.btn-xl{
    font-size: 14pt;
    padding: 12pt 30pt 14pt 30pt;
}
.btn-round{
    border-radius: 25px;
}