.btn{
    text-align: center;
}
.btn-primary{
    background: rgba(25,110,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(25,110,255,1)), color-stop(100%, rgba(0,92,249,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    background: radial-gradient(ellipse at center, rgba(25,110,255,1) 0%, rgba(0,92,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196eff', endColorstr='#005cf9', GradientType=1 );
    color: white;
}