nav{
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
}
nav.nav-floating{
    backface-visibility: visible;
    //background-color: transparent;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
nav.nav-floating ul{
    margin: 10pt 0;
}
nav.nav-transparent{
    background-color: transparent;
    color: white;
}
nav.nav-solid{
    background-color: rgba(249,249,249,1);
    color: rgba(40,57,66,1);
}
ul.h-list{
    display: table;
    width: 100%;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 20px;
    li{
        display: table-cell;
        vertical-align: top;
        float: left;
    }
}
ul.h-sm-list li{
    width: 19.9%;
}
ul.h-md-list li{
    width: 33.3%;
}
ul.h-lg-list li{
    width: 49.9%;
}
ul.h-lg-list li{
    width: 99%;
}
ul.list-inline{
    li{
        display: inline-block;
        margin: 0 10pt;
    }
}
.row-list > div{
    margin-top: 40px;
    margin-bottom: 40px;
}
.client-logo-item{
    height: 60px;
    max-width: 90%;
}
.border-bottom{
    border: solid;
    border-color: #d4d4d4;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}