@import "background", "color",  "post", "lists", "utils", "position","buttons";
@import 'https://fonts.googleapis.com/css?family=Hind+Siliguri:300';

html{
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #FFFFFF;
  color: #333;
  font-family: 'Hind Siliguri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
section,
article,
aside,
hgroup,
footer,
header,
nav,{
  display: block;
}
h1,h2,h3,h4,
p,a,span,small{
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 36pt;
}
h2{
  font-size: 24pt;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,{
  font-size: .5em;
  display: block;
  font-weight: 400;
}
.text-info{
  color: rgba(0,0,0,.6) !important;
  font-size: 46px;
  font-weight: lighter;
  line-height: 46px;
  margin: 20px 0;
}
.text-info .text-grow{
  color: #4168B1;
  font-size: 90px;
  line-height: 90px;
  vertical-align: -16px;
}
ul{
  list-style: none;
  padding: 0;
  li{
    margin: 0;
    padding: 0;
  }
}
p{
  line-height: 30px;
}
.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}
.mb-wrapper{
  background-color: #d4d4d4;
  display: block;
  margin: 0 auto;
  min-width: 1100px;
  position: relative;
  width: 1100px;
}
.mb-section{
  margin: 0 !important;
  min-height: 100%;
  padding-bottom: 40pt;
  padding-top: 40pt;
  position: relative;
  width: 100%;
  .info-section{
    margin-top: 60px;
  }
}
.mb-section-secondary{
  margin: 0 !important;
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
}
.mb-separation{
  margin: 0 !important;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}
.mb-section-footer {
  margin: 0 !important;
  width: 100%;
}
.mb-section-back-secondary{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.back-title{
  margin-top: 0;
}
//Aligment
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left; 
}
//Box
.box-home{
  img{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
  }
  .title{
    cursor: pointer;
    display: inline-block;
    margin: 30px;
    vertical-align: top;
  }
}
.click-item{
  cursor: pointer;
}
.icon_active{
  display: block;
}
.icon_inactive{
  display: none;
}
.nav-solid .icon_active{
  display: none;
}
.nav-solid .icon_inactive{
  display: block;
}
.nav-solid .menu li:first-child{
  color: rgba(25,110,255,1);
}
.nav-solid .nav-icon span{
  background-color: rgba(38,50,56,1);
}
.menu{
  font-size: 18px;
}
.nav-icon{
  cursor: pointer;
  height: 24px;
  position: relative;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  width: 20px;
}
.nav-icon span{
  background-color: white;
  height: 3px;
  position: absolute;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  width: 100%;  
}
.nav-icon span:nth-child(1){
  top: 0;
}
.nav-icon span:nth-child(2){
  top: 7px;
}
.nav-icon span:nth-child(3){
  top: 7px;
}
.nav-icon span:nth-child(4){
  top: 14px;
}
.nav-icon.open span:nth-child(1){
  top: 10px;
  width: 0%;
  left: 50%;
}
.nav-icon.open span:nth-child(2){
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-icon.open span:nth-child(3){
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-icon.open span:nth-child(4){
  top: 10px;
  width: 0%;
  left: 50%;
}