
.h-post{
    display: table;
    position: relative;
    width: 100%;
    padding-right: 20px;
    .h-post-head{
        display: block;
        min-width: 100px;
        text-align: left;
    }
    .h-post-body{
        display: inline-block;
        margin-right: 50px;
        padding-bottom: 0;
        // padding-left: 15pt;
        // padding-right: 15px;
        padding-top: 0;
        // width: 100%;
        // width: calc(100% - 160px);
        // vertical-align: top;
        header{
            font-size: 18pt;
            font-weight: 500;
        }
        footer{
            margin: 20px 0;
        }
    }
}
.icon-circle{
    border-radius: 50%;
    border-color: #c4c4c4;
    border-style: dashed;
    border-width: 2px;
    height: 80px;
    margin: 0 auto;
    width: 80px;
}