.square{
    border: 4px solid #00929c;
    border-radius: 10px;
    height: 450px;
    left: -8%;
    position: absolute;
    top: 0;
    width: 450px;
    z-index: -1;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    animation: 25s animation-square infinite ease-in-out; 
}
.box{
    margin-top: 60px;
    position: relative;
}
.box-home{
    margin: 0;
}
.box-large{
    position: relative;
}
.box-item{
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 30px;
    width: calc(100% - 30px);
}
.box-item-sm{
    height: 100px;
}
.box-item-md{
    height: 300px;    
}
.about-planes{
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
}
.about-planes-left{
    background-image: url("../images/svg/planes.left.png");
    background-position: 0%;
}
.about-planes-right{
    background-image: url("../images/svg/planes.right.png");
    background-position: 0%;
}
.social-link img{
    vertical-align: -12px;
}
@keyframes animation-square{
    0%{
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50%{
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100%{
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}